.footer {
    text-align: center;
    padding: 1em;
    margin-top: auto;
    display: flex;
    align-items: center; /* Align items vertically in the center */
    justify-content: flex-end; /* Align all items to the right */
}

.footer-container {
    display: flex;
    align-items: center;
    gap: 2em;
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-item {
    padding: 10px 0px;
}
